/* Empty. Add your own CSS if you like */

*[ng-click] {
	cursor: pointer;
}

.popup-container .popup-head {
	border-color: transparent;
	background-color: #886aea;
}

.popup-container .popup-head .popup-sub-title {
	color: #fff;
}